<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>MARVEL Superheroes</title>
</head>
<header>
	<h1>MARVEL Superhero Universe</h1>
	<h2>
		<form action="/superheroes/new">
		    <input class="add" type="submit" value="Add A Superhero!" />
		</form>
	</h2>	
</header>
<body class="index">
	<div>
	<ul>
		<% for(let i = 0; i < heroList.length; i++){ %>
			<li><a href="/superheroes/<%=heroList[i].id%>"><%=heroList[i].name%></a>
				<form method="POST" action="/superheroes/<%=heroList[i].id%>?_method=DELETE">
					<input class="editDelete" type="submit" value="delete">
            	</form>
            	<a href="/superheroes/<%=heroList[i].id%>/edit">
					<input class="editDelete" type="submit" value="edit">
            	</a></li>
		<% } %>
	</ul>
	</div>
</body>
</html>