<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title> New SuperHero</title>
</head>
<body class="personal">
<h1>Add a New Hero </br>to the Marvel Universe!</h1>
<form class="build-a-hero" action="/superheroes" method="POST">
	Name: </br><input type="input" id="super-name" name="name" placeholder="Superhero's Name"></br>
	Image: </br><input type="input" id="pic" name="img" placeholder="Superhero's Photo"></br>
	Height: </br><input type="input" id="height" name="height" placeholder="Superhero's Height"></br>
	Weight: </br><input type="input" id="weight" name="weight" placeholder="Superhero's Weight"></br>
	Attacks: </br><input type="input" id="attacks" name="attacks" placeholder="Attacks"></br>
	Bio: </br><input type="input" id="bio" name="bio" placeholder="Insert Bio"></br>
	</br><input type="submit" id="create-hero"></br>

</form>
</body>
</html>